.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.input-group-text {
    background-color: transparent;
    border-right: transparent;
}

.fg-style {
    font-weight: bold;;
}

.follow-title {
    font-weight: bold;
}

.follow-top-margin {
    margin-top: 6%;
}

.wd-suggested-post-border {
    border-bottom: solid 0.1px rgba(185, 195, 204, 0.5);
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -1rem;
    left: 1%;
    padding-top: 1.25rem;
    /* padding-bottom: 1.25rem; */
    color: #fff;
    text-align: left;
    font-size: xx-large;
    font-weight: bold;
}