.wd-explore-body-background {
    background-color: black;
}

.wd-explore-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wd-left-margin {
    margin-left: 16px;
    margin-right: 16px;
}

.wd-search-bar-background {
    background-color: rgba(66, 61, 61, 0.527);
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-search-bar-font-color {
    color: white;
}

.wd-border-color {
    border-color: rgb(47, 51, 54);
}

.wd-search-bar-padding {
    padding: 10px 20px;
    width: 80%;
}

.wd-explore-setting-float {
    margin-right: 12px;
    margin-top: 10px;
    float: right;
}

.wd-tab-float {
    width: 16.6%;
    float: left;
}

.float-done {
    clear: both;
}

.wd-tab-font-style {
    color: rgb(110, 118, 125);
    font-size: 15px;
    text-decoration: none;
}

.wd-tab-font-padding {
    margin: 0px 16px;
    padding: 16px 0px;
}

.wd-tab-font-style-highlight {
    color: rgb(29, 161, 242);
    font-size: 15px;
    text-decoration: none;
}

.wd-tab-border-highlight {
    border-bottom: solid 5px rgb(29, 161, 242);
}

.wd-suggested-post {
    font-size: 13px;
    border-bottom: solid 0.1px rgba(110, 118, 125, 0.5);
}

.wd-suggested-post-d {
    position: relative;
    font-size: 13px;
    width: auto;
    height: 120px;
    border-bottom: solid 0.1px rgba(110, 118, 125, 0.5);
}

.wd-post-topic {
    color:rgb(110, 118, 125);
}


.wd-post-date {
    color:rgb(110, 118, 125);
}

.wd-post-title{
    color:white;
    font-weight: bold;
}

.wd-post-img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-color: white;
    float: right;
    top: 10px;
}

.wd-post-number-of-tweets{
    color:rgb(110, 118, 125);
}

.wd-post-author {
    color:white;
}

.grid-row {
    clear: both;
}

.grid-col-third-page {
    width: 33%;
    float: left;
}
.grid-col-two-thirds-page {
    width: 67%;
    float: left;
}
